{% extends 'taxiservice/base.html' %}{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/taxiorder.css' %}">
{% endblock %}

{% block homeactive %}
class="active"
{% endblock %}

{% block content %}
    <div class="inner cover">
        <form class="form-taxiorder">
            <h2 class="form-taxiorder-heading">Order Taxi</h2>
            <label for="inputName" class="sr-only">Name</label>
            <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
            <label for="inputPhoneNumber" class="sr-only">Phone Number</label>
            <input type="phonenumber" id="inputPhoneNumber" class="form-control" placeholder="Phone Number" required>
            <button class="btn btn-lg btn-default" type="submit">Order taxi</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/taxiorder.js' %}"></script>
{% endblock %}